
.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.codystar-regular {
  font-family: "Codystar", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.doto{
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}
.coral-pixels {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}